<% # Arquivo criado para retirar as redundancias do codigo HTML %>
<% # Presentes nos arquivos edit e new %>

<% # Tratando caso exista um erro %>
<% if @article.errors.any? %>
<h2>
  The following errors prevented the article from getting created
</h2>
  <ul>
    <% # Mostra cada mensagem de erro %>
    <% @article.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<% # @article foi inicializado no articles_controller new %>
<% # form_for e' uma funcao do rails que facilita a criacao %>
<% # de GUI para entradas do usua'rio %>
<%= form_for @article do |variable_name| %>
  <p>
    <%= variable_name.label :title %> <br/>
    <%= variable_name.text_field :title %>
  </p>
  
  <p>
    <%= variable_name.label :description %> <br/>
    <%= variable_name.text_area :description %>
  </p>

  <p>
    <%= variable_name.submit %>
  </p>

<% end %>

<p>
  <%= link_to 'Back to articles listing', articles_path %>  
</p>
  <%= link_to 'Cancel', articles_path %>
</p>